* {
  padding: 0px;
  margin: 0px;
}

/* ul {
  list-style-type: none;
} */

.list-content {
  display: flex;
  flex-flow: wrap row;
}

.list-content>li {
  border: 1px solid red;
  width: 200px;
  margin: 10px;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.cover {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: 40px 0;
}

.component {
  width: 30%;
  min-width: 400px;
  border: 1px solid red;
  border-radius: 10px;
  box-shadow: 0 0 5px green;
  padding: 30px;
  /* margin: 40px 0; */
}

.main-cont {
  margin: 0 auto;
}

.balance {
  margin: 20px 0;
}

.income {
  display: flex;
  background-color: whitesmoke;
  width: 250px;
  justify-content: space-around;
  margin: 15px auto;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 10px;
}

.history {
  display: flex;
  margin: 10px auto;
  width: 250px;
  justify-content: space-between;
  border: 1px solid grey;
  padding: 6px;
  /* color: #28e0e0; */
}



.cove {
  display:flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* text-align: center; */
  margin: 40px 0;
}

.componen {
  width: 35%;
  min-width: 400px;
  border: 1px solid rgb(19, 18, 18);
  /* border-radius: 10px; */
  box-shadow: 0 0 5px green;
  /* padding: 30px; */
}

img {
  height: 35px;
}

.about-react {
  padding: 20px;
  background-color: rgb(26, 25, 25);
}

